:root {
  --media-height: 40vh;
  --media-shadow: 1px 1px 13px #a1a0a0;
}

body {
  margin: 5vh auto 30vh auto;
  font-family: "JetBrains Mono";
  color: black;
}

html,
body {
  /* scroll-snap-type: y proximity; */
  scroll-snap-type: none;
  scroll-behavior: smooth;
  /* scroll-margin-top: 200px; */
}

/* section { */
/*   scroll-snap-align: center; */
/*   scroll-margin-top: 200px; */
/* } */

.slider-nav a.active,
.slider-nav a.active:visited {
  color: #2c73f3;
  opacity: 1;
  border: 2px solid #2c73f3;
  text-decoration: none;
}

span {
  color: black;
}

li {
  /* visibility: hidden; */
  list-style-type: none;
  margin-bottom: 0.75rem;
}

video {
  /* max-width: 30rem; */
  /* max-height: 20rem; */
  max-height: var(--media-height);
  object-fit: cover;
  aspect-ratio: 16/10;
  /* border-radius: 0.35rem; */

  box-shadow: var(--media-shadow);
  border-radius: 1.3rem;
}

.img-gallery {
  object-fit: contain;
  max-height: var(--media-height);
  box-shadow: var(--media-shadow);
  border-radius: 1.3rem;
}
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-current-time-display {
  display: none;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.description-text {
  text-align: left;
  max-width: 30rem;
  width: 30rem;
}

i {
  color: #4f86ea;
}

.container {
  padding: 1rem;
}

.slider-wrapper {
  position: relative;
  /* max-width: 44rem; */
  /* max-width: 30rem; */
  margin: 0rem auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/10;
  /* aspect-ratio: 4/3; */
  overflow: hidden;
  /* scroll-snap-type: x mandatory; */
  max-height: var(--media-height);
  /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 1); */

  box-shadow: var(--media-shadow);
  border-radius: 1.3rem;
}

.slider img {
  /* flex: 1 0 100%; */
  flex: 0 0 100%;
  width: 100%;
  /* scroll-snap-align: start; */
  object-fit: cover;

  /* width: 100%;
    height: 100%; */
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  /* bottom: 0.25rem; */
  bottom: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  /* line-height: 1.70rem; */
  line-height: 1.55rem;
  color: #03a9f4;
  /* font-family: Roboto; */
  /* font-size: 16px; */
  font-size: 10px;

  text-decoration: none;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

a.active {
  opacity: 1;
  border: 2px solid red;
}

/* ::-webkit-scrollbar { */
/*   display: none; */
/* } */
.slider-nav a.active {
  animation: nav-pop 250ms ease-out;
  border: 2px solid #2c73f3;
}

@keyframes nav-pop {
  0% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.li-icon {
  visibility: hidden;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(36%) sepia(93%) saturate(1608%)
    hue-rotate(206deg) brightness(94%) contrast(103%);
}

.li-icon img{
  margin-bottom: -3px;
}
li:hover .li-icon {
  visibility: visible;
}
